.contrat_contaier_all{
	font-size: large;
}
.contrat_left{
	position: relative;
	left: 75%;
}
.contrat_flex{
	display: flex;
	flex-direction: row;
}
.contrat_flex .contrat_display_inline{
	margin-right: 70px;
}
.contrat_section{
	margin: 2rem 0;
}
.contrat_display_inline{
	display: inline;
}
table{
	width: 80%;
}
.contrat_box{
	border: 5px solid black;
}
p.contrat_indent{
	text-indent: 50px;
}
label.contrat_indent{
	text-indent: 50px;
}
.contrat_article_7_1{
	width: calc(100% - 45px);
	position: relative;
	left: 45px;
}
.contrat_article_7_2{
	width: calc(100% - 95px);
	display: block;
	position: relative;
	left: 95px;
}
.contrat_article_7_index{
	position: absolute;
	left: -25px;
}
.contrat_check_cont {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	padding-left: 25px;
}
/* Create a custom checkbox */
.contrat_checkmark {
	position: absolute;
	left: 50px;
	top: 2px;
	height: 12px;
	width: 12px;
	border: 1px solid black;
}











